<h1 class="text-3xl mb-6 text-center font-bold text-gray-900 dark:text-white">Revise Idea</h1>

<%= simple_form_for @idea, method: :patch, html: { class: 'max-w-xl mx-auto px-4 sm:px-6 lg:px-8' } do |f| %>
  <div class="space-y-6">
    <%= f.input :description, as: :text, input_html: { rows: 5, class: 'w-full rounded-md border border-gray-300 px-3 py-2 text-gray-900 dark:text-gray-100 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500' } %>
    
    <%= f.input :author, input_html: { class: 'w-full rounded-md border border-gray-300 px-3 py-2 text-gray-900 dark:text-gray-100 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500' } %>
    
    <%= f.submit 'Submit', class: 'w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800' %>
  </div>
<% end %>
